section {
  width: 100px;
  height: 100px;
  border: solid magenta 5px;
  border-radius: 20%;
}

div {
  border: solid blue 5px;
  width: 150px;
  height: 150px;
  background-image: linear-gradient(red, blue);
}
