body {
  background-color: aquamarine;
}

div {
  border: solid 5px darkturquoise;
  text-align: center;
  font-size: 25px;
  width: 300px;
  height: auto;
  margin: 0 auto;
  border-radius: 15px;
  margin-top: 50px;
  font-family: fantasy;
}

.center {
  text-align: center;
  border: solid darkcyan 15px;
  border-radius: 30px;
  width: 700px;
  height: 617px;
  margin: 0 auto;
}
